html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(#F4A5AE, #F6F7EB);
}

.containerinicio {

  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

#logomarca {
  filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.3));
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.inptstrt {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 200px;
  text-align: left; /* Center the text inside the input fields */
background-color: #e4bec8;
border-color: #9F2042;
border-width: 4px;
font-family: Outfit;
}

.labels {
  margin-bottom: 2px; /* Add some space between the label and input */
  font-family: Outfit;
}

.btncontain {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the input fields */
  width: 100%; /* Ensure the container takes full width */
  margin-bottom: 20px;
}

.btns{
  background-color: #9F2042;
border-color: #9F2042;
border-width: 4px;
border-radius: 15px;
color: #F6F7EB;
font-family: Outfit;
}

#logo2{
  float: left;
  height: 300px;
  display: inline-block;
  filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.3));
}