:root {
    --black: #030301ff;
    --chocolate-cosmos: #511222ff;
    --amaranth-purple: #9f2042ff;
    --ivory: #f6f7ebff;
    --tea-rose-red: #f5cecdff;
    --cherry-blossom-pink: #f4a5aeff;
    --puce: #ce7e96ff;
    --china-rose: #a8577eff;
}

html {
    scroll-behavior: smooth;
}


.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 12.8rem;
    padding: 30px 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    background-color: var(--amaranth-purple);
    font-weight: 400;
}

.divisor {
    padding: 2rem;
    text-align: baseline;
    width: 30%;

    && h2 {
        margin-bottom: 1rem;
    }
}


@media (max-width: 1580px) {
.divisor {

    && h2 {
    font-size: 1.2rem;
    }
     && p {
    font-size: 0.8rem;
    }
}
}

@media (max-width: 1040px) {
.divisor {

    && h2 {
    font-size: 1rem;
    }
     && p {
    font-size: 0.6rem;
    }
}
}

@media (max-width: 700px) {
.divisor {

    && h2 {
    font-size: 0.9rem;
    }
     && p {
    font-size: 0.5rem;
    }
}

.contact-container {
    gap: 0.5rem;
    padding: 30px 20px;
}
}

@media (max-width: 550px) {
.divisor {

    && h2 {
    font-size: 0.7rem;
    }
     && p {
    font-size: 0.4rem;
    }
}

.contact-container {
    gap: 0.5rem;
    padding: 30px 10px;
}
}


@media (max-width: 550px) {
.divisor {

    && h2 {
         margin-bottom: 0.8rem;
    font-size: 0.7rem;
    }
     && p {
    font-size: 0.32rem;
    }
}

.contact-container {
    gap: 0.1rem;
    padding: 30px 10px;
}
}