:root {
  --black: #030301ff;
  --chocolate-cosmos: #511222ff;
  --amaranth-purple: #9f2042ff;
  --ivory: #f6f7ebff;
  --tea-rose-red: #f5cecdff;
  --cherry-blossom-pink: #f4a5aeff;
  --puce: #ce7e96ff;
  --china-rose: #a8577eff;
}

section {
  min-width: 100vw;
}

.hero-bg {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0rem 10rem;
  position: relative;
  background-image: url('../assets/stockimgs/dirigindomulher.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;

  background-image: 
    linear-gradient(to left, #f5cecdff, rgba(3, 3, 1, 0.389));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen; 
}

.hero-bg>* {
  position: relative;
  z-index: 2;
}

.hero-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 60rem;
  text-align: center;
}

.hero-contents h1 {
  color: var(--amaranth-purple);
  font-size: 3.4rem;
  margin-bottom: 1rem;
}

.hero-contents button{
  margin-top: 1rem;
  padding: 0.8rem;
  border: solid 2px var(--amaranth-purple);
  color: var(--amaranth-purple);
  background-color: var(--ivory);
  border-radius: 12px;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  font-weight: 600;
}

.hero-contents button:hover {
  cursor: pointer;
  color: var(--ivory);
  background-color: var(--amaranth-purple);
}

.hero-nav {
  background-color: var(--ivory);
  padding: 2rem;
  width: 100vw;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  && a {
    text-decoration: none;
    color: var(--amaranth-purple);
    font-weight: 800;
    font-size: 1.2rem;
    transition: color 0.3s ease-out;
  }

  && img {
    height: 4.8rem;
  }
}

.nav-links {
  display: flex;
  gap: 1.4rem;
  padding: 2rem;
  text-align: center;
  justify-content: center;

}

.hero-nav a:hover {
  color: var(--puce);
}

.hero-nav a:active {
  color: var(--chocolate-cosmos);
}

@media (max-width: 1600px) {
  .hero-contents{
    width: 46rem;
  }

  .hero-contents h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-contents button{
  margin-top: 1rem;
  padding: 0.8rem;
}
}

@media (max-width: 972px) {

   .hero-contents{
    width: 40rem;
  }

  .hero-contents h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

  .hero-contents p {
  font-size: 0.8rem;
}

  .hero-nav {
    padding: 1rem;

    && a {
      font-size: 1rem;
    }

    && img {
      height: 4rem;
    }
  }

  .nav-links {
    gap: 1rem;
  }
}


@media (max-width: 700px) {
  .hero-nav {
    padding: 1rem;

    && a {
      font-size: 0.8rem;
    }

    && img {
      height: 3.4rem;
    }
  }

  .nav-links {
    gap: 1rem;
  }
  .hero-bg {
 
  padding: 4rem;
}
}

@media (max-width: 650px) {
     .hero-contents{
    width: 45rem;
  }

  .hero-contents h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

  .hero-contents p {
  font-size: 0.6rem;
}
}

@media (max-width: 550px) {
  .hero-nav {
    padding: 1rem;

    && a {
      font-size: 0.65rem;
    }

    && img {
      height: 3rem;
    }
  }

  .nav-links {
    gap: 1rem;
  }
}