:root {
  --black: #030301ff;
  --chocolate-cosmos: #511222ff;
  --amaranth-purple: #9f2042ff;
  --ivory: #f6f7ebff;
  --tea-rose-red: #f5cecdff;
  --cherry-blossom-pink: #f4a5aeff;
  --puce: #ce7e96ff;
  --china-rose: #a8577eff;
}

section {
  min-width: 100vw;
}

.hero-nav {
  background-color: var(--ivory);
  padding: 2rem;
  width: 100vw;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  && a {
    text-decoration: none;
    color: var(--amaranth-purple);
    font-weight: 800;
    font-size: 1.2rem;
    transition: color 0.3s ease-out;
  }

  && img{
    height: 4.8rem;
  }
}

.nav-links{
  display: flex;
  gap: 1.4rem;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  
}

.hero-nav a:hover{
 color: var(--puce);
}

.hero-nav a:active{
 color: var(--chocolate-cosmos);
}

@media (max-width: 972px) {
  .hero-nav {
    padding: 1rem;

     && a {
    font-size: 1rem;
  }

  && img{
      height: 4rem;
  }
  }

  .nav-links {
    gap: 1rem;
  }
}


@media (max-width: 700px) {
  .hero-nav {
    padding: 1rem;

     && a {
    font-size: 0.8rem;
  }

  && img{
      height: 3.4rem;
  }
  }

  .nav-links {
    gap: 1rem;
  }
}

@media (max-width: 550px) {
  .hero-nav {
    padding: 1rem;

     && a {
    font-size: 0.65rem;
  }

  && img{
      height: 3rem;
  }
  }

  .nav-links {
    gap: 1rem;
  }
}