:root {
  --black: #030301ff;
  --chocolate-cosmos: #511222ff;
  --amaranth-purple: #9f2042ff;
  --ivory: #f6f7ebff;
  --tea-rose-red: #f5cecdff;
  --cherry-blossom-pink: #f4a5aeff;
  --puce: #ce7e96ff;
  --china-rose: #a8577eff;
}

.servicos-contain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 2rem;
    width: 100vw;
    
}

.servico-element{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--amaranth-purple) solid 4px;
  border-radius: 20px;
  filter: drop-shadow(4px 2px 5px rgba(81, 18, 34, 0.303));
  
     background-color: var(--tea-rose-red);
     padding: 2rem;
     height: 20rem;
     width: 20rem;

     && h1{
      font-size: 1.4rem;
      margin-bottom: 10px;
      text-align: center;
     }

     && p{
text-align: center;
     }
}

.servicos{
 height: 36rem;
 padding: 2rem;
 background-color: aqua;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.servicos-title{
font-size: 3rem;
}

.servico-icon{
    font-size: 4rem;
    margin-bottom: 10px;
}


 @media (max-width: 1400px) {
    .servicos-contain{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.servico-element{
     && h1{
      font-size: 1.4rem;
      margin-bottom: 10px;
     }
}

.servicos{
 height: 58rem;
 padding: 2rem;
}

.servicos-title{
font-size: 3rem;
}

.servico-icon{
    font-size: 4rem;
    margin-bottom: 10px;
}
 }

  @media (max-width: 840px) {
    .servicos-contain{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
}

.servico-element{
     padding: 2rem;
     height: 16.5rem;
     width: 16.5rem;

     && h1{
      font-size: 1.24rem;
      margin-bottom: 8px;
     }

     && p{
        font-size: 0.8rem;
     }
}

.servicos{
 height: 58rem;
 padding: 2rem;
}

.servicos-title{
font-size: 2.8rem;
}

.servico-icon{
    font-size: 3rem;
    margin-bottom: 10px;
}
 }

   @media (max-width: 640px) {
    .servicos-contain{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    
}

.servico-element{
     padding: 2.5rem;
     height: 14.5rem;
     width: 14.5rem;

     && h1{
      font-size: 1rem;
      margin-bottom: 8px;
     }

     && p{
        font-size: 0.6rem;
     }
}

.servicos{
 height: 50rem;
 padding: 2rem;
}

.servicos-title{
font-size: 2rem;
}

.servico-icon{
    font-size: 2rem;
    margin-bottom: 10px;
}
 }


    @media (max-width: 540px) {
   
.servicos{
 height:78rem;
 padding: 2rem;
}

 }
